@media (min-width: 425px) {
    .title-header {
        font-size: 3rem;
        justify-self: start;
    }
    .regreso-main {
        width: 4.5rem;
    }
    .titulo-main {
        font-size: 2.4rem;
    }
    .adoptar {
        font-size: 1.6rem;
    }
    .descripcion-main {
        font-size: 1.6rem;
    }
}   