@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

:root {
    --cWhite: white;
    --cBlack: black;
    --fsPrimary: 'Source Serif Pro', serif;
    --fsSecundary: 'Architects Daughter', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}