/* CAMBIO DE CLASES */
.bg-primary {
    background-color: #1C0C5B !important;
}
.border-primary {
    border-color: #1C0C5B !important;
}
.bg-secondary {
    background-color: #3D2C8D !important;
}
/* NAVBAR */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-toggler {
    border: none;
}
/* MAIN */
#img-me {
    max-width: 300px;
}