@import url('globales.css');


body {
    display: grid;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* header */
/* header */
header {
    grid-area: header;
}




/* main */
/* main */
main {
    grid-area: main;
    background-color: var(--cWhite);
    font-family: var(--fsPrimary);
}
.main__me {
    display: grid;
    grid-template-columns: 2vw 36vw 60vw 2vw;
    grid-template-rows: 8vh 18vh 45vh;
    grid-template-areas: 
    ". photo title ."
    ". photo description ."
    ". . . .";
}
.main--photo {
    grid-area: photo;
    width: 100px;
    border-radius: 50%;
    place-self: center;
}
.main--title {
    grid-area: title;
    font-size: 2.2rem;
    justify-self: center;
    align-self: end;
}
.main--description {
    grid-area: description;
    padding: 0.5rem;
    font-size: 1.6rem;
    justify-self: center;
    align-self: start;
    text-align: center;
}




/* footer */
/* footer */
footer {
    grid-area: footer;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "projects home posts";
    background-color: var(--cWhite);
    border-top: 2px solid var(--cBlack);
    cursor: pointer;
    font-family: var(--fsSecundary);
}
a {
    text-decoration: none;
    color: var(--cBlack);
}
.footer__projects {
    grid-area: projects;
}
.footer__home {
    grid-area: home;
    border-right: 2px solid var(--cBlack);
    border-left: 2px solid var(--cBlack);
}
.footer__posts {
    grid-area: posts;
}
.footer--items {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.footer--imgs {
    width: 40px;
    flex-grow: 2;
}
.footer--text {
    flex-grow: 1;
    font-size: 1.6rem; 
}