@import '_globales.scss';

body {
    display: grid;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}


header {
    grid-area: header;
}


main {
    grid-area: main;
    font-family: $fsPrimary;

    .main__me {
    display: grid;
    grid-template-columns: 2vw 36vw 60vw 2vw;
    grid-template-rows: 8vh 18vh 45vh;
    grid-template-areas: 
    ". photo title ."
    ". photo description ."
    ". . . .";
    }
    .main--photo {
        grid-area: photo;
        width: 100px;
        border-radius: 50%;
        place-self: center;
    }
    .main--title {
        grid-area: title;
        font-size: 2.2rem;
        justify-self: center;
        align-self: end;
    }
    .main--description {
        grid-area: description;
        padding: 0.5rem;
        font-size: 1.6rem;
        justify-self: center;
        align-self: start;
        text-align: center;
    }
}


footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "projects home posts";
    border-top: 2px solid $c-black;
    cursor: pointer;
    font-family: $fsSecundary;
    a {
        text-decoration: none;
        color: $c-black;
    }
    .footer__projects {
        grid-area: projects;
    }
    .footer__home {
        grid-area: home;
        border-right: 2px solid $c-black;
        border-left: 2px solid $c-black;
    }
    .footer__posts {
        grid-area: posts;
    }
    .footer--items {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .footer--imgs {
        width: 40px;
        flex-grow: 2;
    }
    .footer--text {
        flex-grow: 1;
        font-size: 1.6rem; 
    }
}
