* {
    box-sizing: border-box;
}
<<<<<<< HEAD
.container {
    background-color: #333;
    height: 30vh;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;


}
.item {
    border: medium solid #999 ;
    background-color: #666;

}
=======

.container {
    background-color: #333;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.item {
    border: medium solid #999;
    background-color: #666;
    flex-shrink: 1;
}
.item:nth-child(2) {
    flex-shrink: 2;
}
>>>>>>> 97cfe0d2d24f9ad16d284e8d199239872a45e8e1
