@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
:root {
    --Cblack: black;
    --Cwhite: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
html {
    font-size: 62.5%;
    font-family: 'Otomanopee One', sans-serif;
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--Cblack); 
} 
.titulo {
    margin: 20px;
    font-size: 2.0rem;
}
.titulo::after {
    content: "☀";
    color: yellow;
}
.tituloActualizacion {
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.card {
    width: 80vw;
    height: 65vh;
    background-color: var(--Cwhite);
    border-radius: 1.6rem;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 5vw repeat(4, 1fr) 5vw;
    grid-template-rows: 2vh 40vh 5vh 5vh 0.5vh 10.5vh 2vh;
    grid-template-areas:
    ". . . . . ." 
    ". image image image image ."
    ". titulo titulo titulo corazon ."
    ". author author author corazon . "
    ". hr hr hr hr ."
    ". items items items items ."
    ". . . . . ." ;
}
.card--image {
    grid-area: image;
    background-image: url(1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border: black 1px solid;
}
.music {
    color: var(--Cblack);
}
.card--titulo {
    grid-area: titulo;
    font-size: 1.6rem;
    place-self: end start;
}
.card--author {
    grid-area: author;
    font-size: 1.4rem;
    place-self: start start;
}
.hr {
    grid-area: hr;
    border-color: var(--Cblack);
    background-color: var(--Cblack);
}
.hr--bolita {
    grid-area: hr;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--Cblack);
    place-self: center start;
}
.ul--items {
    grid-area: items;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.items {
    width: 30px;
}
.items:nth-child(2) {
    transform-origin: 50% 47%;
    transform: rotate(180deg);
}
.mensajedeamor {
    margin: 30px;
    text-align: center;
    font-size: 1.6rem;
}
.mensajedeamor::after {
    content: "❤";
    color: rgb(80, 6, 6);
}
.imagendos {
    width: 80vw;
    height: 50vh;
    background-image: url(2.jpg);
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
}
.mensajedeamordos {
    margin: 30px;
}
