@import url("../css/globales.css");

body {
    display: grid;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas: 
    "header"
    "form"
    "footer";
    background: linear-gradient(#21C088, #Ab88FF);
    font-family: var(--fsPrimary);
}
header {
    grid-area: header;
    display: grid;
}
.header__img {
    width: 100px;
    margin: 0px 2vw;
    display: grid;
    place-self: center start;
}

section {
    grid-area: form;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login {
    width: 85vw;
    height: 75vh;
    background-color: rgba(255, 255, 255, 0.1);
    border: var(--cWhite) solid 2px;
    border-radius: 4rem;
    color: var(--cWhite);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__titulo {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.login__form {
    display: flex;
    flex-direction: column;
}
.login__form  label{
   font-size: 1.2rem;
}
.login__remember {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
}
.login__remember a {
    color: var(--cWhite);
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 1rem;
}
.login__remember a:hover {
    text-decoration: underline;
}
.login__social > div {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-right: 3rem;
}
.login__social > div > img {
    width: 3rem;
    margin-right: 0.5rem;
}
.login__register {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1rem;
}

.login__register a {
    font-size: 1.4rem;
    color: var(--cWhite);
    font-weight: bold;
    text-decoration: none;
    margin-left: 0.5rem;
}
.login__register a:hover {
    text-decoration: underline;
}
.input {
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--cWhite);
    font-family: var(--fsPrimary);
    font-size: 1.4rem;
    margin-bottom: 2rem;
    outline: none;
    height: 4rem;
}
.input::placeholder {
    color: var(--cWhite);
}
.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 2.5rem;
    color: var(--cWhite);
    cursor: pointer;
    font-size: 1.4;
    font-weight: bold;
    font-family: var(--fsPrimary);
    height: 4rem;
    letter-spacing: 0.1rem;
}
footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    color: white;
    cursor: pointer;
    font-size: 1.0rem;
    padding-left: 1rem;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
