@import url('/css/globales.css');
body {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 2vw 96vw 2vw;
    grid-template-areas: 
    ". header ."
    "main main main"
    ". footer .";
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    font-family: 'Source Serif Pro', serif;
}

a {
    text-decoration: none;
}


/* HEADER */
/* HEADER */
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 36vw 60vw;
    grid-template-areas: 
    "logo menu";
    position: relative;
}
.header__img {
    grid-area: logo;
    place-self: center start;
    width: 100px;
}
.header__menu {
    grid-area: menu;
    place-self: center end;
    cursor: pointer;
}
.menu--img {
    width: 25px;
}
details {
    margin-right: 20px;
}
.header__menu[open] {
    position: absolute;
    top: 13px;
    text-align: right;
}
summary {
    list-style: none;
}
.menu--list {
    background-color: #14a7cc;
    border-radius: 5px;
    padding: 5px;
}
.list--items {
    color: var(--cWhite);
    font-size: 1.6rem;
    font-weight: bold;
}
hr {
    border-color: var(--cWhite);  /* Chrome y Safari */
    background-color: var(--cWhite); /* Firefox y Opera */
}




/* main */
/* main */
main {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(4, 20vh);
    grid-template-areas: 
    "buscador"
    "carousel"
    "carousel"
    "carousel";
}
.main__buscador {
    grid-area: buscador;
    place-self: center;
}
.buscador--h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--cWhite);
}
.buscador--input {
    width: 70vw;
    height: 5vh;
    border-radius: 2.5rem;
    border: 0.2rem white solid;
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 1rem;
    outline: none;
    background: url(imgs/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 95%;
    background-size: 16px;
}
.buscador--input::placeholder {
    color: white;
}




/* main carrusel */
/* main carrusel */
.carousel {
    grid-area: carousel;
    width: 100%;
    overflow: scroll;
    padding: 0px 30px;
    position: relative;
}
.carousel__container {
    white-space: nowrap;    
    margin: 40px 0px;
    padding-bottom: 10px;
}
.carousel--item {
    background-color: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all ;
    transform-origin: center left;
    position: relative;
}
.carousel--item:hover ~ .carousel--item {
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel--item {
    opacity: 0.3;
}   
.carousel__container:hover .carousel--item:hover {
    transform: scale(1.5);
    opacity: 1;

}
.carousel--details {
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 150px;
}
.carousel--details img {
    width: 40px;
}
.carousel--details2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    margin-left: 10px;
}

.carousel--text {
    color: var(--cWhite);
    font-size: 1.6rem;
}
.carousel--text2 {
    color: var(--cWhite);
    font-size: 1.2rem;
}
.item1 {
    background: url("imgs/gato1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.item1 {
    background: url("imgs/gato1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
