* {
    margin: 0;
}
body {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* HEADER *//* HEADER */
/* HEADER *//* HEADER */
/* HEADER *//* HEADER */
/* HEADER *//* HEADER */

header {
    grid-area: header;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    display: grid;
    grid-template-columns: 40vw 80vw;
    grid-template-areas: 
    "logo nav";
}
img {
    grid-area: logo;
    place-self: center;
    width: 100px;
}
